app/accept.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="siteWrapper">
      <div class="panel-wrap light center-justify">
        <section class="panel"><i class="icon-info biggun"></i>
          <div class="clear-wrap">
            <h3>Next step:  Accept your invite</h3>
            <p>You should receive an e-mail from your administrator with a link.  Click that link to authorize your device.</p>
          </div>
          <div class="big-wrap">
            <p>Alternatively, you can use an Activation Code provided to you by your manager.</p>
            <p><a class="passcode-show">Activation Code</a></p>
            <div class="passcode-field" style="max-width: 500px">
              <p>
                <div class="form-element">
                  <input type="text"/>
                  <label>Activation Code</label>
                </div>
                <div class="center-justify button-module"><a class="button">Activate</a></div>
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  $('.passcode-show').on('click', function(e) {
  	e.preventDefault();
  	$(".passcode-field").addClass('show');
  });
</script>

__pages__/accept.pug
extend __core__/default
block content
	+panel().light.center-justify
		i.icon-info.biggun
		div.clear-wrap
			h3 Next step:  Accept your invite
			p You should receive an e-mail from your administrator with a link.  Click that link to authorize your device.
		div.big-wrap
			p Alternatively, you can use an Activation Code provided to you by your manager.
			p: a().passcode-show Activation Code
			div.passcode-field(style="max-width: 500px")
				p
					+input("Activation Code")
					+button({title: "Activate", url: "index.html", position: "center"})
				
block script 
	script.
		$('.passcode-show').on('click', function(e) {
			e.preventDefault();
			$(".passcode-field").addClass('show');
		});
		
