public/doors.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="siteWrapper">
      <panel-wrapper class="light border-bottom">
        <panel-inner whitespace="30">
          <prime-segment>
            <x-major><a href="index.html">
                <h4> <i class="icon-arrow-left"></i>Nakatomi Plaza</h4></a></x-major>
            <x-minor>
              <div class="HAL"></div>
            </x-minor>
          </prime-segment>
        </panel-inner>
      </panel-wrapper>
      <panel-wrapper class="light">
        <panel-inner whitespace="10">
          <div class="wrap">
            <prime-segment>
              <x-major><i class="icon-lock homescreen-icon"></i><a>Main Lobby</a></x-major>
              <x-minor class="action-icons">
                <div class="rack"><i class="icon-star favorite-icon"></i>
                  <div class="open-trigger collapsible trigger" data-target="details0"><i class="icon-open-close trigger-icon"></i></div>
                </div>
              </x-minor>
            </prime-segment>
            <div class="collapsible drawer" id="details0">
              <div class="rack compress with-dividers border-wrap"><a>Comelit</a><a>Test</a></div>
            </div>
          </div>
          <div class="wrap">
            <prime-segment>
              <x-major><i class="icon-lock homescreen-icon"></i><a>Roof</a></x-major>
              <x-minor class="action-icons">
                <div class="rack"><i class="icon-star favorite-icon"></i>
                  <div class="open-trigger collapsible trigger" data-target="details1"><i class="icon-open-close trigger-icon"></i></div>
                </div>
              </x-minor>
            </prime-segment>
            <div class="collapsible drawer" id="details1">
              <div class="rack compress with-dividers border-wrap"><a>Comelit</a><a>Test</a></div>
            </div>
          </div>
          <div class="wrap">
            <prime-segment>
              <x-major><i class="icon-lock homescreen-icon"></i><a>Parking Garage</a></x-major>
              <x-minor class="action-icons">
                <div class="rack"><i class="icon-star favorite-icon"></i>
                  <div class="open-trigger collapsible trigger" data-target="details2"><i class="icon-open-close trigger-icon"></i></div>
                </div>
              </x-minor>
            </prime-segment>
            <div class="collapsible drawer" id="details2">
              <div class="rack compress with-dividers border-wrap"><a>Comelit</a><a>Test</a></div>
            </div>
          </div>
        </panel-inner>
      </panel-wrapper>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  $('.icon-star').on('click', function() {
  	$(this).toggleClass('selected');
  })
</script>

__pages__/doors.pug
extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					a(href="index.html")
						h4 
							i.icon-arrow-left
							| Nakatomi Plaza
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			- var titles=["Main Lobby", "Roof", "Parking Garage"]
			- var i = 0
			+loop(3)
				div.wrap
					prime-segment
						x-major
							i.icon-lock.homescreen-icon
							a()= titles[i]
						x-minor.action-icons
							.rack
								i.icon-star.favorite-icon
								div.open-trigger.collapsible.trigger(data-target="details" + i)
									i.icon-open-close.trigger-icon
					div(id="details" + i).collapsible.drawer
						div.rack.compress.with-dividers.border-wrap
							a Comelit
							a Test
				- i++


block script
	script.
		$('.icon-star').on('click', function() {
			$(this).toggleClass('selected');
		})
