__pages__/index.pug
extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					+logo("PDK")
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			div.wrap
				.title 
					i.icon-star.homescreen-icon
					| Favorites
			- var locations = ["Nakatomi Plaza"]
			+loop(1)
				div.wrap
					prime-segment
						x-major
							.title
								i.icon-business.homescreen-icon
								a(href="doors.html") Nakatomi Plaza
						x-minor.action-icons
							.rack
								div.open-trigger.collapsible.trigger(data-target="details" + i)
									i.icon-open-close.trigger-icon
					div(id="details" + i).collapsible.drawer
						div.rack.compress.with-dividers.border-wrap
							a.modal.trigger(data-target="activateModal") Activate
				- i++
		div#activateModal.modal.window
			h2 Activation
			div.clear-wrap
				+input('Enter Activation Code')
			+button({title: "Activate", position: "right"})#activateBtn


block script
	script.
		$('#activateBtn').on('click', function(e) {
			e.preventDefault();
			$('.icon-open-close.trigger-icon').click();
			$('.close-modal').click();
			$('.collapsible.drawer .rack').html('<i class="icon-checkmark activated-checkmark"></i> Activated');
		});
		
		
		
			

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="siteWrapper">
      <panel-wrapper class="light border-bottom">
        <panel-inner whitespace="30">
          <prime-segment>
            <x-major>
              <div class="logo-wrapper"><a class="logo" href="/">PDK</a></div>
            </x-major>
            <x-minor>
              <div class="HAL"></div>
            </x-minor>
          </prime-segment>
        </panel-inner>
      </panel-wrapper>
      <panel-wrapper class="light">
        <panel-inner whitespace="10">
          <div class="wrap">
            <div class="title"> <i class="icon-star homescreen-icon"></i>Favorites</div>
          </div>
          <div class="wrap">
            <prime-segment>
              <x-major>
                <div class="title"><i class="icon-business homescreen-icon"></i><a href="doors.html">Nakatomi Plaza</a></div>
              </x-major>
              <x-minor class="action-icons">
                <div class="rack">
                  <div class="open-trigger collapsible trigger" data-target="detailsundefined"><i class="icon-open-close trigger-icon"></i></div>
                </div>
              </x-minor>
            </prime-segment>
            <div class="collapsible drawer" id="detailsundefined">
              <div class="rack compress with-dividers border-wrap"><a class="modal trigger" data-target="activateModal">Activate</a></div>
            </div>
          </div>
        </panel-inner>
        <div class="modal window" id="activateModal">
          <h2>Activation</h2>
          <div class="clear-wrap">
            <div class="form-element">
              <input type="text"/>
              <label>Enter Activation Code</label>
            </div>
          </div>
          <div class="right-justify button-module"><a class="button" href="" id="activateBtn">Activate</a></div>
        </div>
      </panel-wrapper>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  $('#activateBtn').on('click', function(e) {
  	e.preventDefault();
  	$('.icon-open-close.trigger-icon').click();
  	$('.close-modal').click();
  	$('.collapsible.drawer .rack').html('<i class="icon-checkmark activated-checkmark"></i> Activated');
  });
  
  
  
  	
</script>
